@charset "utf-8";
/* font : pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* reset */
html, body {width: 100%; height: 100%; font-size: 14px; color: #000;}
body * {font-family: inherit; font-size: inherit; font-weight: inherit; color: inherit; letter-spacing: inherit;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; box-sizing: border-box; -webkit-box-sizing: border-box; word-break: keep-all; word-wrap: break-word; white-space: normal; font-family: Pretendard, "malgun gothic", "맑은 고딕", sans-serif; letter-spacing: -0.025em;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {display: block;}
ol, ul, li {list-style: none}
table {width: 100%; border-collapse: collapse; border-spacing: 0;}
img {border: 0;}
hr {height: 0; display: none;}
i, em, address {font-style: normal;}
strong, b {font-weight: 600;}
sup {font-size: 10px; line-height: 1;}
/* form, fieldset, iframe {display: block; border: 0;} */
caption, legend {overflow: hidden; position: absolute; top: -9999px; left: -9999px; width: 0; height: 0; font-size: 0; line-height: 0;}
input, textarea {opacity: 1; -webkit-text-fill-color: inherit;}
input, textarea, select {margin: 0; padding: 0; font-family: Pretendard, "malgun gothic", "맑은 고딕", sans-serif; font-size: 14px; font-weight: 400; color: #000; box-sizing: border-box; -webkit-box-sizing: border-box; line-height: normal; -webkit-appearance: none; appearance: none; outline: none;}
textarea, select {outline: none;}
select::-ms-expand {display: none;}
select:disabled {pointer-events: none;}
::before, ::after {margin: 0; padding: 0; box-sizing: border-box;}

input[type="text"]::-ms-clear,
input[type="password"]::-ms-reveal,
input[type="tel"]::-ms-clear,
input[type="tel"]::-ms-reveal,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal{display:none;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none;}

button {overflow: visible; display: inline-block; margin: 0; padding: 0; border: 0; background:none; font-family: Pretendard, "malgun gothic", "맑은 고딕", sans-serif; font-size: 14px; font-weight: 400; color: #000; line-height: inherit; vertical-align: top; text-decoration: none; cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
button span,
button:after {position: relative;}

a {display: inline-block; color: #000; text-decoration: none; word-break: break-all; cursor: pointer;}
a:link,
a:visited,
a:active,
a:focus {text-decoration: none;}
a:hover {text-decoration: none;}

/* common */
:root {
    --color-point: #5177FF;
    --bg-light: #F7F7FB;
    --bg-regular: #F1F1F5;
    --bg-medium: #E5E5EC;
    --line-regular: #DBDBE4;
    --line-medium: #AEB0B6;
}
.blind {overflow: hidden; position: absolute; left: -9999em; width: 0; height: 0; margin: 0; padding: 0; text-indent: -9999em;}
.f-group {display: flex; flex-wrap: wrap; gap: 10px 24px;}

/* input */
.f-input {display: inline-flex; position: relative;}
.f-input input {display: block; width: 100%; height: 40px; padding: 0 36px 0 12px; background-color: #fff; border-radius: 4px; border: 1px solid var(--line-regular);}
.f-input input::-webkit-input-placeholder {color: var(--line-medium); font-size: 14px;font-weight: 400;}
.f-input input::-moz-placeholder {color: var(--line-medium); font-size: 14px;font-weight: 400;}
.f-input input:-ms-input-placeholder {color: var(--line-medium); font-size: 14px;font-weight: 400;}
.f-input input:-moz-placeholder {color: var(--line-medium); font-size: 14px;font-weight: 400;}
.f-input input:only-child {padding: 0 12px;}
.f-input input:focus,
.f-input input:not(:disabled):hover {border-color: #000;}
.f-input input[readonly]:hover,
.f-input input[readonly]:focus {border-color: var(--line-regular);}
.f-input input[readonly],
.f-input input:disabled {background-color: var(--bg-regular);}
.f-input input[readonly] + .btn-clear,
.f-input input:disabled + .btn-clear {pointer-events: none;}
.f-input .btn-clear {position: absolute; right: 8px; top: 50%; transform: translateY(-50%); width: 24px; height: 100%; background: url("/static/assets/images/map/icon-clear.svg") no-repeat center; opacity: 0; cursor: text;}
.f-input.active .btn-clear{opacity: 1; cursor: pointer;}
/* input : search */
.f-search .inp {padding-right: 63px;}
.f-search .btn-clear {right: 36px;}
.f-search .btn-search {display: block; position: absolute; right: 8px; top: 0; width: 30px; height: 100%; background: url("/static/assets/images/map/icon-search.svg") no-repeat center left 4px;}
.f-search .inp:disabled ~ .btn-search {opacity: .2;}

/* checkbox, radio */
.f-check {display: inline-block; position: relative; min-height: 18px; vertical-align: top; line-height: 0;}
.f-check [type=checkbox],
.f-check [type=radio] {overflow: hidden; position: absolute; left: 0; top: 0; width: 18px; height: 18px; margin: 0; padding: 0; border: 0; opacity: 0; filter: alpha(opacity=0);}
.f-check [type=checkbox]+label,
.f-check [type=radio]+label {display: inline-flex; align-items: flex-start; min-height: 18px; padding-left: 24px; color: #5A5C63; line-height: 20px; text-align: left; cursor: pointer;}
.f-check [type=checkbox]+label::before,
.f-check [type=radio]+label::before {content: ""; display: inline-block; position: absolute; top: 0; left: 0; width: 18px; height: 18px; background-color: #fff; border: 1px solid var(--line-regular); border-radius: 50%; box-sizing: border-box;}
.f-check [type=checkbox]+label::after {content: ""; display: inline-block; position: absolute; left: 0; top: 0; width: 18px; height: 18px; background: url("/static/assets/images/map/icon-check.svg") no-repeat center;}
.f-check [type=checkbox]+label:empty,
.f-check [type=radio]+label:empty {padding-left: 18px;}
.f-check [type=checkbox]:checked+label::before {background-color: var(--color-point); border-color: var(--color-point);}
.f-check [type=checkbox]:checked+label::after,
.f-check [type=checkbox]:disabled+label::after {background-image: url("/static/assets/images/map/icon-check-on.svg");}
.f-check [type=checkbox]:disabled+label::before,
.f-check [type=radio]:disabled+label::before {background-color: var(--bg-regular); border-color: var(--bg-regular);}
.f-check [type=checkbox]:disabled+label, 
.f-check [type=radio]:disabled+label {color: #C5C8CE;}
.f-check [type=checkbox]:disabled:checked+label::before,
.f-check [type=radio]:disabled:checked+label::before {background-color: var(--bg-regular); border-color: var(--line-regular);}
.f-check [type=checkbox]:disabled:checked+label::after {background-image: url("/static/assets/images/map/icon-check.svg");}
.f-check [type=radio]:checked+label::after {content: ""; display: inline-block; position: absolute; top: 5px; left: 5px; width: 8px; height: 8px; background-color: var(--color-point); border-radius: 50%;}
.f-check [type=radio]:disabled:checked+label::after {background-color: #a4a4a4;}

/* switch */
.f-switch {display: inline-block; position: relative; max-width: 100%; font-size: 0; vertical-align: top;}
.f-switch label {display: flex; flex-direction: row; gap: 10px; align-items: center; position: relative; max-width: 100%; cursor: pointer; font-size: 13px; line-height: 1;}
.f-switch label::before {content: ""; display: inline-block; align-self: flex-start; min-width: 30px; height: 16px; background-color: var(--bg-medium); border-radius: 8px; transition: all 150ms cubic-bezier(0.17, 0.67, 0.6, 0.93);}
.f-switch label:after {content: ""; display: inline-block; position: absolute; top: 1px; left: 1px; width: 14px; height: 14px; background-color: #fff;
border-radius: 50%; transition: all 150ms cubic-bezier(0.17, 0.67, 0.6, 0.93);}
.f-switch [type=checkbox]{overflow: hidden; position: absolute; left: 0; top: 0; width: 30px; height: 16px; margin: 0; padding: 0; border: 0; opacity: 0; filter: alpha(opacity=0);}
.f-switch [type=checkbox]:checked+label::before {background-color: var(--color-point); color: #fff;}
.f-switch [type=checkbox]:checked+label:after {left: 15px;}
.f-switch [type=checkbox]:disabled+label {color: #a4a4a4;}
.f-switch [type=checkbox]:disabled+label::before {background-color: var(--bg-regular);}
.f-switch [type=checkbox]:disabled+label::after {background-color: var(--bg-medium);}
.f-switch.reverse label {flex-direction: row-reverse;}
.f-switch.reverse label::after {left: unset; right: 15px;}
.f-switch.reverse [type=checkbox]:checked+label::after {left: unset; right: 1px;}

.txt-switch {display: inline-block; position: relative; width: auto; height: 36px;}
.txt-switch input {position: absolute; left: 0; top: 0; width: 100%; height: 100%; margin: 0; padding: 0; border-color: rgba(0,0,0,0); border-radius: 100px; cursor: pointer;}
.txt-switch label {display: flex; position: relative; width: 100%; height: 100%; margin: 0; padding: 0; background-color: var(--bg-regular); border-radius: 100px; cursor: pointer;}
.txt-switch label span {z-index: 1; display: inline-flex; align-items: center; justify-content: center; min-width: 90px; color: #5A5C63;}
.txt-switch label::before {content: ""; z-index: 1; display: inline-block; position: absolute; top: 2px; bottom: 2px; border-radius: 100px; background-color: var(--color-point); transition: all 150ms cubic-bezier(0.17, 0.67, 0.6, 0.93);}
.txt-switch input:not(:checked)+label::before {left: 2px; right: 90px;}
.txt-switch input:not(:checked)+label span:nth-child(1) {color: #fff;}
.txt-switch input:checked+label::before {left: 90px; right: 2px;}
.txt-switch input:checked+label span:nth-child(2) {color: #fff;}

/* select */
select, .select2-container {font-size: 13px;}
.select2-dropdown {border-color: #000;}
.select2-results__option {color: #000;}
.select2-container--default .select2-selection--single {border: 1px solid var(--line-regular);}
.select2-container--default .select2-selection--single:hover,
.select2-container--default .select2-selection--single:focus {border-color: #000;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #000;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {background-image: url("/static/assets/images/map/icon-select-down.svg");}
.select2-container--default.select2-container--disabled .select2-selection--single {background-color: var(--bg-light); border-color: var(--line-regular);}
.select2-container--default.select2-container--disabled .select2-selection--single,
.select2-container--default.select2-container--disabled .select2-selection--single:hover,
.select2-container--default.select2-container--disabled .select2-selection--single:focus {border-color: var(--line-regular);}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--disabled .select2-selection--single:hover .select2-selection__rendered,
.select2-container--default.select2-container--disabled .select2-selection--single:focus .select2-selection__rendered {color: #C5C8CE;}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow b {opacity: .3;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {background-color: var(--bg-light); color: #000;}

/* button */
.btn-md {display: inline-flex; align-items: center; justify-content: center; gap: 8px; position: relative; width: auto; min-height: 36px; padding: 5px 12px; border-radius: 4px; border: 1px solid transparent; font-weight: 500; text-align: center; vertical-align: middle; line-height: normal;}
.bctype1 {background-color: var(--color-point); color: #fff;}
.bctype2 {background-color: #fff; color: #5A5C63; border-color: var(--line-regular);}

/* layout */
.dmap {overflow: hidden; -webkit-print-color-adjust:exact; print-color-adjust: exact !important;}
.dmap-wrap {display: flex; flex-direction: column; height: 100vh;}
.dmap-head {width: 100%; height: 64px; padding: 0 32px 0 24px; background-color: #19244D;}
.dmap-head .inner {display: flex; height: 100%; justify-content: space-between; align-items: center;}
.dmap-head .logo {display: flex;}
.dmap-head .logo a {display: inline-flex; font-size: 18px; font-weight: 600; color: #fff; line-height: 26px;}
.dmap-head .logo .img {display: block; align-items: center; width: 90px; height: 24px; background: url("/static/assets/images/map/logo-mirae-n.svg") no-repeat 0 0;}
.dmap-head .logo .img ~ .txt {margin-left: 8px;}
.dmap-head .btn-ai-share {display: inline-flex; align-items: center; position: relative; min-height: 36px; padding:0 12px; background-color: #fff; border-radius: 4px; font-size: 13px; font-weight: 500; color: #5A5C63;}
.dmap-head .btn-ai-share::before {content: ""; display: inline-block; width: 16px; height: 16px; margin-right: 4px; background: url("/static/assets/images/map/icon-ai-share.png") no-repeat 0 0 / 100% auto;}
.dmap-body {flex: 1 1 auto; position: relative;}
.dmap-body .menu-left {position: absolute; left: -332px; right: 0; top: 0; bottom: 0; background-color: transparent; transition: left 0.3s ease;}
.dmap-body .menu-left.active {left: 0;}
.dmap-body .menu-cont {display: flex; flex: 1 1 auto; position: relative; height: 100%;}
.dmap-body .menu-left .btn-close-menu {position: absolute; left: 100%; top: 50%; width: 32px; height: 64px; background-color: #fff; border: 1px solid var(--line-regular); border-left-width: 0; border-radius: 0 4px 4px 0; transform: translateY(-50%); box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2); z-index: 2; transition: left 0.3s ease;}
.dmap-body .menu-left .btn-close-menu::before {content: ""; display: block; width: 100%; height: 100%; background: url("/static/assets/images/map/icon-arrow-left.svg") no-repeat center; transform: rotate(180deg);}
.dmap-body .menu-left .btn-close-menu.active::before {transform: unset;}
.dmap-body .menu-box {z-index: 3; display: flex; flex: 0 0 auto; flex-direction: column; position: relative; width: 332px; height: 100%;}
.chapter-box {z-index: 1; position: absolute; left: 332px; right: 0; top: 0; height:68px; background-color: rgba(255, 255, 255, 0.8); border-bottom: 1px solid #DBDBE4;}
.chapter-box .select-chapter {display: flex; align-items: center; gap: 24px; width: 100%; height: 100%; padding: 0 32px;}
.chapter-box .title {flex-shrink: 0; display: block; font-size: 14px; font-weight: 500; line-height: 20px; color: #000;}
.chapter-box .select-group {display: flex; gap: 6px;}
.dmap-search {z-index:3; display:flex; flex-direction:column; position:relative; height:100%; background-color:#fff; border-right: 1px solid var(--line-regular); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); overflow-y: auto;}
.dmap-cont {display:block; position:relative; height:100%; background-color: #f6f4ee;}
.dmap-area {z-index: 0; position: relative; height: 100%;}
.map-api {position: relative; overflow: hidden; width: 100%; height: 100%; user-select: none;}

.side-menu {/*z-index: 1;*/ position: absolute; right: 24px; top: 84px; text-align: right;}
.special-place {background-color: #fff; border: 1px solid var(--line-regular); border-radius: 4px; box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);}
.special-place .place-box {display: flex;}
.special-place .place-item {display: inline-flex; align-items: center; text-align: center; gap: 6px; position: relative; padding: 10px 16px;}
.special-place .place-item::before {content: ""; display: block; width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: 100% auto;}
.special-place .place-item.my-map {color: #FF4242;}
.special-place .place-item.my-map::before {background-image: url("/static/assets/images/map/icon-my-map.svg");}
.special-place .place-item.teacher-map {color: #6541F2}
.special-place .place-item.teacher-map::before {background-image: url("/static/assets/images/map/icon-teacher-map.svg");}
.special-place .place-item ~ .place-item {border-left: 1px solid var(--bg-regular);}
.special-place .place-item strong {font-size: 14px; font-weight: 600; line-height: 20px;}

.map-toolbox {display: inline-flex; flex-direction: column; align-items: flex-end; gap: 12px;}
.map-control {background-color: #fff; border-radius: 4px; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);}
.map-control [class ^="btn-"] {display: block; position: relative; width: 52px; height: 52px; font-size: 10px; font-weight: 600; line-height: 1.4; color: #5A5C63;}
.map-control [class ^="btn-"] svg {fill: rgba(0,0,0,0); color: #989BA2; width: 20px; height: 20px;}
.map-control [class ^="btn-"]:hover,
.map-control [class ^="btn-"]:hover svg,
.map-control [class ^="btn-"].active,
.map-control [class ^="btn-"].active svg {color: var(--color-point);}
.map-control [class ^="btn-"] span {display: block;}
.map-control > li {position: relative; border-bottom: 1px solid var(--bg-regular);}
.map-control > li:last-child {border-bottom: 0;}
/*
.map-control [class ^="btn-"]::before {content: ""; display: block; width: 20px; height: 20px; margin: 0 auto 2px; background-position: center; background-repeat: no-repeat; background-size: 100% auto;}
.map-control [class ^="btn-"].active,
.map-control [class ^="btn-"]:hover {color: var(--color-point);}
.map-control .btn-location::before {background-image: url("/static/assets/images/map/icon-location.png");}
.map-control .btn-location.active::before,
.map-control .btn-location:hover::before {background-image: url("/static/assets/images/map/icon-location-on.png");}
.map-control .btn-blankmap::before {background-image: url("/static/assets/images/map/icon-blankmap.png");}
.map-control .btn-blankmap.active::before,
.map-control .btn-blankmap:hover::before {background-image: url("/static/assets/images/map/icon-blankmap-on.png");}
.map-control .btn-distance::before {background-image: url("/static/assets/images/map/icon-distance.png");}
.map-control .btn-distance.active::before,
.map-control .btn-distance:hover::before {background-image: url("/static/assets/images/map/icon-distance-on.png");}
.map-control .btn-print::before {background-image: url("/static/assets/images/map/icon-print.png");}
.map-control .btn-print.active::before,
.map-control .btn-print:hover::before {background-image: url("/static/assets/images/map/icon-print-on.png");}
.map-control .btn-sns-share::before {background-image: url("/static/assets/images/map/icon-sns.png");}
.map-control .btn-sns-share.active::before,
.map-control .btn-sns-share:hover::before {background-image: url("/static/assets/images/map/icon-sns-on.png");}
.map-control .btn-panorama::before {background-image: url("/static/assets/images/map/icon-panorama.png");}
.map-control .btn-panorama.active::before,
.map-control .btn-panorama:hover::before {background-image: url("/static/assets/images/map/icon-panorama-on.png");}
.map-control .btn-satellite::before {background-image: url("/static/assets/images/map/icon-satellite.png");}
.map-control .btn-satellite.active::before,
.map-control .btn-satellite:hover::before {background-image: url("/static/assets/images/map/icon-satellite-on.png");}
*/

.map-layer {display: block; position: absolute; top: 0; right: 62px; width: 296px; background-color: #fff; border: 1px solid var(--line-regular); border-radius: 12px; box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);}
.map-layer .layer-title {display: block; padding: 27px 20px 18px; font-size: 18px; font-weight: 600; line-height: 26px; text-align: center;}
.map-layer .layer-cont {padding: 20px 32px 32px;}
.map-layer .icon-button {position: absolute; right: 0; top: 4px;}
.sns-list ul {margin: -20px -9px 0; font-size: 0; text-align: left;}
.sns-list li {display: inline-block; width: 25%; margin-top: 20px; vertical-align: top; text-align: center;}
.sns-list li a {display: block; position: relative; font-size: 13px; line-height: 18px; color: #5A5C63;}
.sns-list li a span {display: block;}
.sns-list li a::before {content: ""; display: block; width: 40px; height: 40px; margin: 0 auto 4px; background: url("/static/assets/images/map/sp-sns.png") no-repeat 0 0 / 168px auto;}
.sns-list li .sns-blog::before {background-position: 0 0;}
.sns-list li .sns-cafe::before {background-position: -42px 0;}
.sns-list li .sns-keep::before {background-position: -84px 0;}
.sns-list li .sns-band::before {background-position: -126px 0;}
.sns-list li .sns-line::before {background-position: 0 -42px;}
.sns-list li .sns-x::before {background-position: -42px -42px;}
.sns-list li .sns-facebook::before {background-position: -84px -42px;}
.sns-list li .sns-kakao::before {background-position: -126px -42px;}

.map-zoom {display: inline-flex; flex-direction: column; background-color: #fff; border-radius: 4px; box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);}
.map-zoom [class ^="btn-zoom-"] {display: block; width: 36px; height: 36px; background-repeat: no-repeat; background-position: center; background-size: 20px auto;}
.map-zoom .btn-zoom-in {background-image: url("/static/assets/images/map/icon-zoom-in.png"); border-bottom: 1px solid var(--bg-regular);}
.map-zoom .btn-zoom-out {background-image: url("/static/assets/images/map/icon-zoom-out.png"); border-top: 1px solid var(--bg-regular);}
.zoom-range {display: flex; flex-direction: column; align-items: center; position: relative; height: 112px; padding: 8px 0;}
.zoom-range .range {-webkit-appearance: none; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(-90deg); width: 96px; max-width: inherit; height: 2px; outline: none; background-color: var(--bg-medium); background-image: linear-gradient(var(--color-point), var(--color-point)); background-size: 50% 100%; background-repeat: no-repeat; border: 0; cursor: pointer;}
.zoom-range .range::-webkit-slider-runnable-track {box-shadow: none; border: none; background: transparent;}
.zoom-range .range::-moz-range-track {-webkit-appearance: none; box-shadow: none; border: none; background: transparent;}
.zoom-range .range::-moz-focus-outer {border: 0;}
.zoom-range .range::-webkit-slider-thumb {-webkit-appearance: none; width: 12px; height: 12px; border: 0; background-color: var(--color-point); border-radius: 50%;}
.zoom-range .range::-moz-range-thumb {width: 12px; height: 12px; border: 0; background-color: var(--color-point); border-radius: 50%;}

.test {z-index: 1; position: absolute; left: 332px; top: 84px;}
.test .inner {display: inline-flex;}

.tabs.type-rounded-m .tab {padding: 16px 24px 8px; background: #F7F7FB;}
.tabs.type-rounded-m .tab:before {display: none;}
.tabs.type-rounded-m .tab ul {display: flex; border-radius: 50px; border: 1px solid #DBDBE4; background-color: #fff;}
.tabs.type-rounded-m .tab li {flex-grow: 1; border: 0; background-color: transparent;}
.tabs.type-rounded-m .tab li.active a {border-radius: 50px; color: #fff; }
.tabs.type-rounded-m .tab li.active a::before {content: ''; display: block; position: absolute; left: -1px; top: -1px; bottom: -1px; right: -1px; border: 1px solid #19244D; border-radius: 50px; background-color: #19244D; z-index: -1;}
.tabs.type-rounded-m .tab li a {min-height: 34px; color: #5A5C63; }
.tabs.type-rounded-m .tab li:hover, .tabs.type-rounded-m .tab li:focus, .tabs.type-rounded-m .tab li.active {border-color:transparent; background-color: transparent;}

.search-list > li {border-bottom: 1px solid var(--line-regular);}
.search-list > li:hover {background-color: var(--bg-light);}
.search-list > li .place-item{padding: 24px;}
.place-item .title {font-size: 15px; font-weight: 500;}
.place-data-list .inner-wrap {display: flex; flex-wrap: wrap; align-items: center;}
.place-data-list .inner-wrap .icon.size-md img {width: 100%;}

.search-region {background: #F7F7FB;}
.search-region dl {padding: 16px 24px;}
.search-result {background: #F7F7FB; padding: 16px 24px;}

.marker-icon-area {/*position: absolute; transform: translate(-50%, -50%);*/ cursor: pointer;}
.marker-icon-image-wrap {display: block; width: 57px; height: 56px; margin: 0 auto; text-align: center;}
.marker-text-area {display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 3px 8px; min-height: 24px; font-weight: 500; background-color: #fff; box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4); text-align: center; border-radius: 4px;}
.marker-text-area .marker-title {font-size: 12px; line-height: 18px; overflow-wrap: break-word; word-break: keep-all; color: #000;}

.marker-layer {position: relative; background-color: #fff; width: 200px; border-radius: 8px; box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);}
.marker-layer-arrow {position: absolute; top:11px; left:11px;  z-index:1; width:13px; height:13px; transform: rotate(45deg);}
.marker-layer-arrow::before {content: ''; display: block; height: 100%; background: url('https://t1.daumcdn.net/localimg/localimages/07/2018/pc/infoWindow/pannel_tooltip_arr2x.png') no-repeat 0 0;}
.place-data > li {padding: 10px 12px; }
.place-data > li:not(:only-child) {border-bottom: 1px solid #F1F1F5;}



.search-result {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 64px; /* 원하는 위치 */
    left: 0;
    width: 325px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* 임시 pin */
.map-api .ico_mark { position:absolute; width:44px; height:44px; }
.map-api .ico_mark.miraen { width: 100px; height: auto; }
.map-api .ico_mark.panorama { position:absolute; width:45px; height:57px; }
.map-api .ico_mark img { width:100%; height:100%; box-shadow: 2px 2px 2px #00000026; border-radius: 50%; display: block;}
.map-api .ico_mark.miraen img { box-shadow: none; border-radius: 0px;}
.map-api .ico_mark.panorama img { box-shadow: none; border-radius: 0px;}
.map-api .ico_mark.red { position:absolute; width:45px; height:57px; }
	.map-api .ico_mark.red + .mark_info ul { bottom:5px; margin-left:22px; }
	.map-api .ico_mark.red + .mark_info ul li a { font-weight:500; }
		.mark_info ul li a:hover { color:#25CBB4; }
/* school */
.map-api .school_ico, 
.map-api .my_school { position:absolute; }
.map-api .my_school .school_loc,
.map-api .my_school .school_info { display:none; }
.map-api .my_school { transform:translate(-36%, 4px); }
.map-api .my_school.hover .school_loc,
.map-api .my_school.on .school_info { display:inline-block; }
.map-api .my_school.on .school_info { transform:translate(23px, 44px); }
.map-api .my_school.hover.on .school_info { transform:translate(0, 0); }
    .my_school .school_loc { position:relative; display:inline-block; padding:0 15px 0 50px; height:44px; line-height:44px; font-size:14px; color:#fff; background:#FC722A url('../images/pc/my_school.png') 10px 11px no-repeat; background-size:32px auto; box-sizing:border-box; border-radius:30px 30px 30px 30px; }
    .my_school .school_info { position:absolute; bottom:60px; left:50%; margin-left:-115px; width:200px; padding:15px; text-align:center; border:1px solid #FC722A; background:#fff; box-shadow:1px 2px 2px 1px rgba(0,0,0,0.2); }
    .my_school .school_info:before { content:""; position:absolute; left:50%; bottom:-9px; display:inline-block; margin-left:-7px; width:14px; height:9px; background:url('../images/pc/bg_mark_school_arrow.png') no-repeat; }
    .my_school .school_info strong { color:#FC722A; }
/* mark info */
.mark_info { display:none; position:absolute; }
    .mark_info.hover { display:block; }
.mark_info ul { z-index:5; position:relative; bottom:8px; margin-left:25px; word-break:keep-all; background:#fff; transform:translate(-50%, -100%); box-shadow:1px 2px 2px 1px rgba(0,0,0,0.2); }
    .mark_info ul:before { content:""; position:absolute; left:50%; bottom:-9px; display:inline-block; margin-left:-7px; width:14px; height:9px; background:url('https://ele.m-teacher.co.kr/cms/smartppt/html/social/special/images/pc/bg_mark_arrow.png') no-repeat; background-size:100% auto; }
.mark_info ul li { border-top:1px solid #DEE5E5; }
    .mark_info ul li:first-child { border-top:0px; }
.mark_info ul li a { display:block; padding:6px 10px 5px; font-size:13px; color:#666; box-sizing:border-box; }
/* mark event */
.mark_event { display:none; position:absolute; }
    .mark_event.on { display:block; }
.mark_event dl { z-index:5; position:absolute; bottom:8px; margin-left:-110px; width:270px; background:#fff; box-shadow:1px 2px 2px 1px rgba(0,0,0,0.2); }
    .mark_event dl:before { content:""; position:absolute; left:50%; bottom:-9px; display:inline-block; margin-left:-7px; width:14px; height:9px; background:url('https://ele.m-teacher.co.kr/cms/smartppt/html/social/special/images/pc/bg_mark_arrow.png') no-repeat; background-size:100% auto; }
.mark_event dl dt { padding:10px 40px 5px 15px; border-bottom:1px solid #DEE5E5; }
.mark_event dl dt strong { display:block; margin-bottom:3px; font-size:15px; font-weight:500; color:#25CBB4; }
.mark_event dl dt span { font-size:13px; }
.mark_event dl dd { overflow:hidden; padding:10px 15px; }
.mark_event dl dd p { float:left; width:140px; }
    .mark_event dl dd * { font-size:13px; }
    .mark_event dl dd p { line-height:1.4; }
    .mark_event dl dd p a { color:#405DFF; }
.mark_event dl dd img { float:right; width:90px; height:120px; border:1px solid #DEE5E5; }
.mark_event dl dd .event_close { position:absolute; top:10px; right:10px; }
.mark_event dl dd .event_close img { width:20px; height:20px; border:0px; }
/* 거리재기 distance circle */
.distance { }
.dis_circle { z-index:2;position:absolute; width:18px; height:18px; }
.dis_line { position:absolute; width:100%; height:4px; background:#DB1250; }
.dis_txt { position:absolute; padding:5px 8px 3px; text-align:center; line-height:1.5; background:#fff; box-shadow:1px 2px 2px 1px rgba(0,0,0,0.2); transform:translate(-45%, 25px); }
    .dis_txt:before { content:""; position:absolute; left:50%; top:-8px; display:inline-block; margin-left:-7px; width:14px; height:9px; background:url('https://ele.m-teacher.co.kr/cms/smartppt/html/social/special/images/pc/bg_mark_arrow.png') no-repeat; transform:rotate(180deg); }
.dis_txt,
.dis_txt * { font-size:14px; }
    .dis_txt p { padding:10px 5px; min-width:160px; }
    .dis_txt strong { display:block; font-weight:600; }
    .dis_txt strong em { padding-right:1px; font-weight:600; color:#DB1250; }

.pin-label{position: absolute;top: 4px;left: 15px;line-height: 44px;font-size: 14px;color: #fff;white-space: nowrap;background: #FC722A url('../images/pc/my_school.png') 10px 11px no-repeat;background-size: 32px auto;box-sizing: border-box; border-radius: 30px;padding: 0 15px 0 50px;}
.pin-tip{position: absolute;bottom: calc(100% + 10px);left: 50%;transform: translate(-50%, 0);padding: 6px 10px 5px;background: #fff;box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);font-size: 13px;white-space: nowrap;color: #666 !important;}
.pin-tip.pin-tip-hover{pointer-events: auto !important;}
.pin-tip.active{display: block;}
/* .pin-tip:before, .pin-tip:after, .pin-tip-group>div:last-child:before, .pin-tip-group>div:last-child:after{content: '';width: 0;height: 0;position: absolute;top: 100%;left: 12px;border: 5px solid transparent;border-left-width: 5px;border-left-color: currentColor;margin-top: 0px;border-top-color: currentColor}
.pin-tip:after, .pin-tip-group>div:last-child:after{border-width: 3px;left: 14px;margin-top: -2px;border-left-color: #fff;border-top-color: #fff} */
.pin-tip:before, .pin-tip-group>div:last-child:before{ content:""; position:absolute; left:50%; bottom:-9px; display:inline-block; margin-left:-7px; width:14px; height:9px; background:url('https://ele.m-teacher.co.kr/cms/smartppt/html/social/special/images/pc/bg_mark_arrow.png') no-repeat; background-size:100% auto; }
.pin-layer100 .pin-tip{ top: -35px;}
[data-color="purple"] .pin-tip{color: #9a68ff}
[data-color="blue"] .pin-tip{color: #39bafe}
[data-color="red"] .pin-tip{color: #ff7075}
[data-color="grn"] .pin-tip{color: #7ecb64}
.pin-tip.pin-tip-group{pointer-events: auto !important;cursor: pointer;color: #7bb3f9;padding: 0}
/* .pin-tip-group:before, .pin-tip-group:after{display: none}
.pin-tip-group>div{position: relative;padding: 3px 10px;text-align: center}
.pin-tip-group>div+div{border-top: 2px solid}
.pin-tip-group>div:hover{background: #7bb3f9;color: #fff}
.pin-tip-group>div:last-child:before, .pin-tip-group>div:last-child:after{margin-top: 2px}
.pin-tip-group>div:last-child:after{margin-top: 0}
.pin-tip-group>div:last-child:before, .pin-tip-group>div:hover:last-child:after{border-left-color: #7bb3f9;border-top-color: #7bb3f9} */
.pin-tip-group li{border-top: 1px solid #DEE5E5;padding: 6px 10px 5px;font-size: 13px;color: #666;}
.pin-tip-group li:first-child{border-top: 0px;}
.pin-label, .pin-tip{display: none;animation: fadeIn .5s both}
.pin{cursor: pointer; vertical-align: middle;}
.pin:not(.active-show):hover~.pin-label, .pin:hover~.pin-tip, .pin-layer:hover .pin-tip-group{display: block}
.pin~*{pointer-events: none}
/* .pin-pop{transform: translate(-14px, -100%);margin-top: -45px;z-index: 60 !important}
.pin-pop-bottom{transform: translate(-14px, 140px);margin-top: 0}
.pin-pop-bottom .pin-pop-body .tail{transform: scaleY(-1);top: auto;bottom: 100%}
.pin-pop-body{width: 450px;padding-top: 1px;border-radius: 10px;box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.2);color: #fff;font-size: 17px;background: #425daf;position: relative;z-index: 5;font-weight: 400}
.pin-pop-body .tail{position: absolute;top: 100%;left: 30px;width: 27px;height: 32px;background: url(../img/tail.png) no-repeat 0 0/auto 100%}
.pin-pop:before{content: '';position: absolute;top: 0;left: 0;width: 98%;height: 100%;box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.2);border-radius: 10px;background: #314685;z-index: -1;transform: skewY(2deg);transform-origin: bottom left}
.pin-pop .add-txt{font-size: 32px;padding: 0 25px 50px;text-align: center;font-weight: 700; line-height: 1.3;}
.pin-pop .symbol{position: relative;width: 147px;margin: -70px auto 20px} 
.pin-pop-header, .pin-pop-content{padding: 15px}
.pin-pop-header{border-bottom: 1px solid #39519c;color: rgba(255,255,255,.6);letter-spacing: 0}
.pin-pop-header strong{font-weight: 700;font-size: 30px;color: #ffe60f;display: block;line-height: 1.2;margin-bottom: 5px}
.pin-pop-content{font-size: 17px}
.pin-pop-content .media>img{margin-left: 15px}
.pin-pop-content a{color: #96d6ff}*/
.pin-pop p.add-txt{ position:relative; width:200px; padding:15px; text-align:center; border:1px solid #FC722A; background:#fff; box-shadow:1px 2px 2px 1px rgba(0,0,0,0.2); }
.pin-pop p.add-txt:before{ content:""; position:absolute; left:50%; bottom:-9px; display:inline-block; margin-left:-7px; width:14px; height:9px; background:url('../images/pc/bg_mark_school_arrow.png') no-repeat; }
/* .icon-pin-close{position: absolute;width: 45px;height: 45px;background-image: url(../img/close.png);background-size: 16px auto;top: 0;right: 0} */
.add-name{min-width: 350px;border-bottom: 2px solid rgba(255,255,255,.3);font-size: 50px;line-height: 92px;padding-bottom: 20px;margin-bottom: 30px;line-height: 92px}
.add-name img{width: 92px;margin-right: 16px;vertical-align: top}
/* .add-txt{font-size: 40px;color: #fff;}
.add-txt>span{color: #ffdd22; font-size: inherit; font-weight: inherit; line-height: 1.3;} */
.add-txt>strong {color: #FC722A;}
.pin-layer, .map-api .animate__animated {font-size: 60px; line-height: 1.3;}
.pin-layer.top {z-index: 1;}
#dialog.pin-pop .pin-pop-body{width: 270px;background: #fff;box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 20%);}
#dialog.pin-pop .pin-pop-body:before{content: "";position: absolute;left: 50%;bottom: -9px;display: inline-block;margin-left: -7px;width: 14px;height: 9px;background: url(https://ele.m-teacher.co.kr/cms/smartppt/html/social/special/images/pc/bg_mark_arrow.png) no-repeat;background-size: 100% auto;}
#dialog.pin-pop .pin-pop-body .pin-pop-header{padding: 10px 40px 5px 15px; border-bottom: 1px solid #DEE5E5;}
#dialog.pin-pop .pin-pop-body .pin-pop-header > strong{ display:block; margin-bottom:3px; font-size:15px; font-weight:500; color:#25CBB4; }
#dialog.pin-pop .pin-pop-body .pin-pop-header > span{ font-size:13px; }
#dialog.pin-pop .pin-pop-body .pin-pop-content{overflow: hidden;padding: 10px 15px;}
#dialog.pin-pop .pin-pop-body .pin-pop-content *{font-size: 13px;}
#dialog.pin-pop .pin-pop-body .pin-pop-content .media .media-body{float: left;width: 140px;line-height: 1.4;}
#dialog.pin-pop .pin-pop-body .pin-pop-content .media img{ float:right; width:90px; height:120px; border:1px solid #DEE5E5; display: inline-block;vertical-align: top;}
.icon-pin-close{ position:absolute; top:10px; right:10px; background: url('../images/pc/mark_close.png'); background-size: 20px; width: 20px; height: 20px; border: 0; font-size: 0px;}

/* 거리뷰 */
#panoset{position: absolute; width: 250px; height: 150px;pointer-events: none;}
#pano{position: absolute; width: 250px; height: 150px;}
#pano>div>div>div>div>div>img{display: none !important}
#pano span{display: none !important}
#panon{position: absolute !important; width: 100% !important; height: 100% !important; z-index: 10; left: 0; top: 0;}



/* print */
@page {
  size: landscape;
}
@media print {
  .dmap-head, .chapter-box, .side-menu, .map-toolbox, .test {display: none;}
  html, body {width: 100%; height: 100%;}
}